.grid{
  display: grid;
  grid-template-columns: 100px 200px 100px 400px
}
 div { border: 1px solid #000000 }

.grid2 {
  background: #cccccc;
  margin-top: 100px;
  width:960px;
  display: grid;
  /*grid-template-columns: 2fr 5rf 5rf; */
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  max-width: 100%;
}
