.primarycolor{}
.secondarycolor {}
.generalcolor {}

.primarybackground {}
.secondarybackground {}
.generalbackground {}








.grid{
  display: grid;
  text-align:center;
}

.grid2 {
  background: #cccccc;
  margin-top: 100px;
  display: grid;
  /*grid-template-columns: 2fr 5rf 5rf; */
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  max-width: 100%;
}
